.dopple-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.dopple-header-time-date {
    display: flex;
    font-size: 30px;
}

.dopple-header-date {
    margin-left: 40px;
}