.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: FFFFFF;
  gap: 7px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.content img {
  height: 25px;
}

#cameraFeeds {
  grid-column: 1/5;
  grid-row: 1/3;
  background-color: #5d6f80;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  justify-self: center;
  text-align: center;
}

#printers {
  grid-column: 5/7;
  grid-row: 1/3;
  background-color: #6c90b2;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
}

#printers h3 {
  text-align: center;
}

#printers table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#printers table tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

#printers table tr:nth-child(odd) {
  background: #5d6f80;
  border: 1px solid #5d6f80;
}

#printers table tr td {
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 2px 2px 2px rgb(71, 70, 70);
  flex: 1;
  text-align: center;
}

#table tr:nth-child(odd) {
  background: #5d6f80;
  border: 1px solid #5d6f80;
}

.printer-status {
  padding: 3px 8px;
}

#table tr:nth-child(odd) {
  background: #5d6f80;
  border: 1px solid #5d6f80;
}

#orderStatus {
  grid-column: 1/5;
  width: 100%;
  height: 100%;
  grid-row: 3/5;
  background-color: #6c90b2;
  padding: 0px;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

#orderStatus table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-collapse: collapse;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#orderStatus table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

#orderStatus table tr:nth-of-type(even) td {
  background-color: #5d6f80;
}

#orderStatus table th {
  display: block;
  width: 100%;
  font-size: larger;
  font-weight: 900;
  padding: 10px;
}

#orderStatus table tr td {
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 2px 2px 2px rgb(71, 70, 70);
  display: block;
  width: 100%;
  padding: 8px;
  text-align: center;
}

.columnOrderStatus {
  background-color: #aca45e;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#networkServices {
  grid-column: 5/7;
  grid-row: 3/5;
  background-color: #5d6f80;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
}

#networkServices table tr {
  display: flex;
  flex-wrap: wrap;
}

#networkServices table tr td {
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 2px 2px 2px rgb(71, 70, 70);
  padding: 10px;
}

#networkServices .networkFlow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 10px;
  grid-gap: 10px;
}

#networkServices .networkFlow .networkItem {
  display: block;
  width: 80%;
  padding: 10px;
  border: none;
  /* background: #6C90B2; */
  /* border: 1px solid #6C90B2; */

  margin-left: auto;
  margin-right: auto;

  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 2px 2px 2px rgb(71, 70, 70);
}

#networkServices .networkFlow .online {
  background: #3f2;
}

#networkServices .networkFlow .offline {
  background: #f32;
}

#networkServices .networkFlow .warning {
  background: #aca45e;
}

.camera-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  height: 90%;
  width: 80%;
  padding: 10px;
  padding-left: 70px;
}

.camera {
  background-color: #333;
  overflow: hidden;
  position: relative;
  padding-top: 0%;
}

.camera > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.camera > .react-player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.camera > .react-player-wrapper > div {
  height: 100% !important; 
}
.cmaeraViewText {
  padding-left: 10px;
}
